@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: yellow;
}

.opcion {
  width: 150px;
  margin-top: -20px;
}

footer{
  text-align: center;
  clear: both;
  padding: 20px;
}


.encabezado {
  width: 500px;
  border-left: 3px solid green;
  padding-left: 5px;
  margin: auto;
  
  line-height: 30px;
}

.otro {
  float: right;
  width: 160px;
  height: 150px;
  border: 2px solid green;
  border-style: dotted;
  text-align: right;
  padding-right: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
